Button {
    -fx-font-family: arial;
    -fx-font-size: 18px;
    -fx-background-color:  #fff !important;
}

Button:hover {
    -fx-background-color:  #4D7EB9 !important;
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
}

#ParentGridpane {
    -fx-font-size: 18px;
}

#warning {
    -fx-text-fill: rgb(246, 51, 21);
    -fx-font-size: 14px;
}